PyQt6
opencv-python
pillow
numpy
scipy
scikit-image
imageio
pydicom
pylibjpeg
pylibjpeg-libjpeg
pylibjpeg-openjpeg
python-gdcm
pynrrd
nibabel
vtk
SimpleITK
trimesh
shapely
svgpathtools
svgwrite
hydra-core
omegaconf
iopath
fvcore
tqdm
packaging
pyinstaller
pyinstaller-hooks-contrib
